@keyframes piece-animation{
    0%{
        -webkit-transform: translateY(0) rotateX(0) scale(1);
        transform: translateY(0) rotateX(0) scale(1);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    50%{
        -webkit-transform: translateY(-50%) rotateX(180deg) scale(2);
        transform: translateY(-50%) rotateX(180deg) scale(2);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    100%{
        -webkit-transform: translateY(0) rotateX(360deg) scale(1);
        transform: translateY(0) rotateX(360deg) scale(1);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
}

body{
    background-color: #e7E7E7;
}
.home-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.home-picture p{
    color: #E7E7E7;
    width: 200px;
    padding: 0 0.5rem 1.5rem;
}
.home-picture p a{
    text-decoration: none;
    color: #e7E7E7;
}
.home-picture p:first-child{
    /*padding-right: 1.2rem;*/
    text-align: right;
}
.home-picture p:last-child{
    /*padding-left: 1rem;*/
}
.home-picture img{
    display: block;
    height: 250px;
    width: auto;
    border-radius: 200px;
    border: 6px solid #ccc;
    transition: 2s;
}
.home-picture img:hover{
    animation: piece-animation 0.5s linear both;
}

.hidden{
    display: none;
}

.particule{
    max-height: 400px;
    width: 100%;
    overflow-y: hidden;
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: #2C363F;
    border-bottom: 6px solid #ccc;
}
.nom{
    color: #ddd;
    font-size: 5rem;
    text-align: center;
    padding: 5rem 0 4rem 0;
    margin: 0;
}
.nom .subtitle{
    display: block;
    font-size: 2rem;
    font-style: italic;
}


.cv{
    display: flex;
    justify-content: center;
    border-bottom: 6px solid #ccc;
}

.cv .formation{
    width: 45%;
    text-align: right;
    border-right: 3px solid #ccc;
    padding-right: 2rem;
}
.cv .formation header h2{
    color: #294e47;
    font-size: 2rem;
}
.cv .formation article{
    margin: 3rem 0 0;
}
.cv .formation article header h3{
    color: #88bdab;
    margin: 0;
}
.cv .formation article:last-child{
    padding-bottom: 2rem;
}
.cv .formation article p{
    margin: 0;
}
.cv .formation article p.ecole{
    font-style: italic;
    color: #b6bfa9;
    margin-bottom: 1rem;
}

.cv .experience{
    width: 45%;
    padding-left: 2rem;
    border-left: 3px solid #ccc;
}
.cv .experience header h2{
    color: #294e47;
    font-size: 2rem;
}
.cv .experience article{
    margin: 3rem 0 0;
}
.cv .experience article header h3{
    color: #88bdab;
    margin: 0;
}
.cv .experience article:last-child{
    padding-bottom: 2rem;
}
.cv .experience article p{
    margin: 0;
}
.cv .experience article p.ecole{
    font-style: italic;
    color: #b6bfa9;
    margin-bottom: 1rem;
}

footer{
    background-color: #2C363F;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
footer p{
    display: block;
    color: #ccc;
    margin: 0;
    padding-top: 42px;
}
footer p a {
    color: #ccc;
}
div.groupe-competence{
    border: 1px solid black;
    display: inline-table;
    text-align: center;
}
div.groupe-competence div.progress-bar{
    width: 120px;
    margin: 1rem auto;
}
div.groupe-competence div.progress-bar div.bar-competence{
    margin: 0 1rem;
}
div.bar-competence div.progressbar-text{
    font-size: 1.2rem;
    color: #294e47;
    padding: -60px 0 0 33px;
}



.competence{
    border-bottom: 6px solid #ccc;
}
.competence header {
    text-align: center;
}
.competence header h2{
    color: #294e47;
    font-size: 2rem;
}
div.competence div.bloc-progress-bar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
div.competence div.bloc-progress-bar div.bar-competence div.progressbar-text{
    font-size: 1.2rem;
    color: #294e47;
    margin: -60px 0 0 33px;
}
div.competence div.bloc-progress-bar div.bar-competence{
    height: 100px;
    width: 100px;
    padding: 0 1rem 2rem 1rem;
}
div.competence div.bloc-progress-bar div h3{
    text-align: center;
    color: #294e47;
}

.groupe-vignette{
    display: flex;
    flex-wrap: wrap;
}

.projets h2{
    color: #294e47;
    font-size: 2rem;
    text-align: center;
}

.vignette-projet{
    width: 250px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    min-width: 200px;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 5px 5px 5px #ccc;
}

.vignette-projet img{
    width: 100%;
}

.vignette-projet h3{
    color: #294e47;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 0;
}

.vignette-projet h3 > a{
    color: #294e47;
    text-decoration: none;
}

.projet-description{
    padding: 1rem;
    margin-top: 0;
    width: 218px;
    height: 218px;
    overflow-y: scroll;
    background-color: rgba(231, 231, 231, 0.8);
}

@media all and (max-width: 1100px) {
    .particule{
        max-height: 400px;
        min-height: 400px;
    }

}
@media all and (max-width: 648px){
    .cv{
        display: flex;
        flex-direction: column;
    }
    .cv .experience{
        width: 100%;
        border-left: 0;
        padding: 0;
        text-align: center;
        border-top: 6px solid #ccc;
    }
    .cv .formation{
        width: 100%;
        padding: 0;
        text-align: center;
        border-left: 0;
    }
    .particule{
        max-height: 495px;
        min-height: 495px;
    }
    .home-picture p{
        display: none;
    }
}
/* Version mobile */
@media all and (max-device-width: 480px){
    .cv{
        display: flex;
        flex-direction: column;
    }
    .cv .experience{
        width: 100%;
        border-left: 0;
        padding: 0;
        text-align: center;
        border-top: 6px solid #ccc;
    }
    .cv .formation{
        width: 100%;
        padding: 0;
        text-align: center;
        border-left: 0;
    }
    p{
        font-size: 2rem;
    }
    .cv article header h3{
        font-size: 2.2rem;
    }
    .cv .experience header h2{
        font-size: 2.6rem;
        padding-top: 1rem;
    }
    .cv .formation header h2{
        font-size: 2.6rem;
    }
    div.competence header h2{
        font-size: 2.6rem;
    }
    div.competence div.bloc-progress-bar div.bar-competence {
        width: 150px;
        height: 150px;
    }
    div.competence div.bloc-progress-bar div.bar-competence div.progressbar-text {
        font-size: 2rem;
        margin: -95px 0 0 45px;
    }
    div.competence div.bloc-progress-bar div h3{
        font-size: 2.2rem;
    }
    .home-picture p{
        display: none;
    }
}
